:root {
    --primary: #800000;
    --secondary: #F8F9FA;
    --gold: #F0AD4E;
    --light-gray: #CCCCCC;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --silver-pale: #F7F7F7;
    --black: #000000;
}

html, body, div, form, h1, h2, h3, h4, label, input, button, i, ul, li, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
    color: var(--primary);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../images/fondo_login.png') no-repeat center/cover;
}

.wrapper {
    width: 27rem;
    background: var(--white);
    border-top: 2px solid var(--primary);
    box-shadow: 0 0 0.7rem rgba(0, 0, 0, .2);
    color: var(--white);
    border-radius: 0.3rem;
    padding: 1rem;
}

.wrapper h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--primary);
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.input-box {
    width: 100%;
    height: 3rem;
    position: relative;
    display: inline-block;
}

.input-box input {
    width: 100%;
    height: 95%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid var(--gold);
    border-radius: 0.3rem;
    color: var(--primary);
    font-size: 1rem;
    padding: 0 2rem 0 0.5rem;
    font-weight: 700;
}

.errores {
    position: absolute;
    top: 50%; /* Alinea el ícono verticalmente en el centro del input */
    right: 5px; /* Espacio a la derecha del input */
    transform: translateY(-50%); /* Corrige la alineación vertical */
    display: none;
}

.error {
    padding-right: 0.3rem;
    display: none;
}

input::placeholder {
    color: var(--primary);
}

.wrapper .btn {
    width: 100%;
    height: 3rem;
    background-color: var(--gold);
    border: none;
    outline: none;
    border-radius: 0.3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1rem;
    color: var(--white);
    font-weight: 700;
}

.btn:hover {
    background-color: var(--primary);
    color: var(--white);
}

.info-carnet-año {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.item {
    flex: 1;
    z-index: 4;
}

.subject {
    flex: 1;
    z-index: 3;
}

.pos {
    z-index: 2;
}

.options-courses,
.options-subjects,
.subject-postulate {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.custom-listbox {
    position: relative;
    display: inline-block;
    z-index: 5;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
}

.listbox {
    height: 2.8rem;
    border: transparent;
    border-radius: 0.5rem;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
}
  
.listbox-header {
    cursor: pointer;
    border: 1px solid var(--gold);
    background: var(--white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.3rem;
    color: var(--primary);
}
  
.selected-option {
    flex-grow: 1;
    margin-right: 0.5rem;
    width: 100%;
}
  
.arrow-down {
    transition: transform 0.2s ease-in-out;
    margin-right: 0.8rem;
    font-size: 0.8rem;
}
  
.options {
    list-style: none;
    margin: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid var(--gold);
    background: var(--white);
    z-index: 5;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
    color: var(--primary);
    max-height: 14.9rem;
    min-width: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 0.3rem;
}
  
.options li {
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.options li:hover {
    background: var(--primary);
    color: var(--white);
}

.info-carnet-año .custom-listbox .options {
    overflow-y: hidden;
}

.subjects {
    border: 1px solid var(--gold);
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.custom-checkbox{
    display: flex;
    flex-direction: column;
}

.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 0.5rem
}

.checkbox-input {
    display: none;
}

.checkbox-box {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--gold);
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
    flex-shrink: 0;
}

.checkbox-box::after {
    content: '\2714';
    color: var(--white);
}

.checkbox-input:checked + .checkbox-box {
    background: var(--gold);
}

.options-subjects .custom-listbox .options h4 {
    padding: 0.3rem;
}

.input-radio {
    border: 1px solid var(--gold);
    border-radius: 0.3rem;
    padding: 0.5rem;
}

.input-radio h4 {
    margin-bottom: 0.5rem;
}

.radio-options {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

input[type="radio"] {
    display: none;
}

.radio-options label {
    position: relative;
    color: var(--primary);
    font-weight: 700;
    cursor: pointer;
    display: inline-flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--gold);
    border-radius: 0.3rem;
    flex-grow: 1;
    width: 100%;
    text-align: center;
}

.radio-options label::before {
    content: "";
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--gold);
    border-radius: 50%;
    margin-right: 1rem;
    margin: auto;
}

input[type="radio"]:checked + label {
    background: var(--gold);
    color: var(--white);
}

input[type="radio"]:checked + label::before {
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--white);
    background: var(--gold);
}

#input-box {
    display: none;
}

@media (max-width: 445px){
    .wrapper {
        width: 20rem;
    }

    .info-carnet-año {
        flex-direction: column;
    }

    .item input {
        height: 3rem;
    }

    .radio-options {
        flex-direction: column;
        text-align: start;
        align-items: stretch;
        gap: 0.5rem;
    }

    .radio-options label {
        width: 100%;
    }

    .radio-options label::before {
        margin: 0;
    }
}
