:root {
    --primary: #800000;
    --gold: #F0AD4E;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --texas-rose-50: #fef7ec;
    --texas-rose-100: #fae9cb;
    --texas-rose-200: #f6d091;
    --texas-rose-300: #f0ad4e;
    --texas-rose-400: #ed9732;
    --texas-rose-500: #e6751a;
    --texas-rose-600: #cc5513;
    --texas-rose-700: #a93914;
    --texas-rose-800: #8a2d16;
    --texas-rose-900: #712716;
    --texas-rose-950: #411107;
}

html, body, div, form, h1, h2, h3, h4, h5, input, i, button, ul, li, p, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    min-height: 100vh;
    background: var(--light);
}

/* Contenedor principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    min-height: auto;
    gap: 1.7rem;
}

/* Encabezado */
.head-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--white);
    width: 95%;
    padding: 1rem;
    margin-top: 6rem;
    border-radius: .5rem;
    border: 3px solid var(--texas-rose-50);
    box-shadow: 0 .1rem .2rem rgb(0 0 0 / 20%);
}

.head-title {
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--gold);
    text-align: center;
}

.greeting {
    color: var(--primary);
    font-size: 1.1rem;
    text-align: center;
}

.image-idc {
    width: 10rem;
}

/*  */
.facultys-content {
    margin-bottom: 1.5rem;
    width: 95%;
    background: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 3px solid var(--texas-rose-50);
    box-shadow: 0 .1rem .2rem rgb(0 0 0 / 20%);
}

.head-lbl {
    color: var(--primary);
    font-size: 1.1rem;
}

/* Acciones */
.action-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    gap: 1.5rem;
}

/* Accion */
.action-link-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.action-icon {
    font-size: 2rem;
    color: var(--primary);
}

.action-link {
    color: var(--primary);
    text-decoration: none;
    display: block;
    font-size: 1rem;
    font-weight: 100;
}

.action-link:hover {
    text-decoration: underline;
}

/* Scroll */
::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: .5rem;
}