:root {
    --primary: #800000;
    --gold: #F0AD4E;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --texas-rose-50: #fef7ec;
    --texas-rose-100: #fae9cb;
    --texas-rose-200: #f6d091;
    --texas-rose-300: #f0ad4e;
    --texas-rose-400: #ed9732;
    --texas-rose-500: #e6751a;
    --texas-rose-600: #cc5513;
    --texas-rose-700: #a93914;
    --texas-rose-800: #8a2d16;
    --texas-rose-900: #712716;
    --texas-rose-950: #411107;
}

html, body, div, form, h1, h2, h3, h4, h5, input, i, button, ul, li, p, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    min-height: 100vh;
    background: var(--light);
}

/* Contenedor principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    min-height: auto;
    gap: 1.7rem;
}

/* Encabezado */
.head-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    padding: 1rem;
    margin-top: 6rem;
    border-radius: .5rem;
}

.head-lbl {
    font-size: 1.7rem;
    color: var(--primary);
}

/*  */
.facultys-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    padding: 1rem;
    border-radius: .5rem;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.faculty {
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 100;
}

.lt-faculty {
    display: flex;
    flex-direction: column;
}

.lt-item-faculty, .lt-inside-career, .lt-inside-subject, .lt-inside-researchTopic {
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.lt-item-faculty--click, .lt-item-career--click, .lt-item-subject--click {
    cursor: pointer;
}

.lt-button-faculty, .lt-button-career, .lt-button-subject {
    display: flex;
    gap: 1rem;
    width: 100%;
    align-items: center;
}

.lt-arrow {
    font-size: .7rem;
    color: var(--primary);
}

.lt-link {
    color: var(--primary);
    display: inline-flex;
    gap: 1rem;
    padding: .5rem 0;
    text-decoration: none;
    font-size: 1rem;
}

.lt-link:hover {
    text-decoration: underline;
}

.img-topic {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.lt-link--inside-faculty, .lt-link--inside-career, .lt-link--inside-subject {
    display: flex;
    gap: 1rem;
    align-items: center;
    text-align: left;
    margin-left: .7rem;
}

.lt-show-careers, .lt-show-subjects, .lt-show-researchTopics, .lt-show-teams {
    transition: height 0.3s ease;
    height: 0;
    margin-left: 1.5rem;
    margin-top: .5rem;
}

.arrow {
    transform: rotate(270deg);
}