:root {
    --primary: #800000;
    --secondary: #F8F9FA;
    --gold: #F0AD4E;
    --light-gray: #CCCCCC;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --silver-pale: #F7F7F7;
    --black: #000000;
    --texas-rose-50: #fef7ec;
    --texas-rose-100: #fae9cb;
    --texas-rose-200: #f6d091;
    --texas-rose-300: #f0ad4e;
    --texas-rose-400: #ed9732;
    --texas-rose-500: #e6751a;
    --texas-rose-600: #cc5513;
    --texas-rose-700: #a93914;
    --texas-rose-800: #8a2d16;
    --texas-rose-900: #712716;
    --texas-rose-950: #411107;
}

html, body, div, form, h1, h2, h3, h4, h5, input, i, button, ul, li, p, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    min-height: 100vh;
    background: var(--light);
}

h1 {
    font-size: 1.8rem;
    color: var(--primary);
}

h2 {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--primary);
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    min-height: auto;
    gap: 1.5rem;
}

.head-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    padding: 1rem;
    margin-top: 6rem;
    border-radius: .5rem;
    border: 3px solid var(--texas-rose-50);
    box-shadow: 0 .1rem .2rem rgb(0 0 0 / 20%);
}

h2 {
    font-weight: 700;
    font-size: 1.1rem;
    color: var(--primary);
}

/* Historial de vistas */
.history {
    display: flex;
    gap: .7rem;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
}

.history-view {
    text-decoration: none;
    padding: .5rem;
    color: var(--primary);
    background: var(--texas-rose-50);
    box-sizing: border-box;
    width: auto;
    border-radius: .5rem;
    box-shadow: 0 .1rem .2rem rgb(0 0 0 / 20%);
}

.history-view:hover {
    text-decoration: underline;
}

.history-view:hover:nth-child(2) {
    text-decoration: none;
}

.date-content {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    gap: 1rem;
    box-shadow: 0 .1rem .2rem rgb(0 0 0 / 20%);
    margin-bottom: 1.5rem;
    border: 3px solid var(--texas-rose-50);
    box-shadow: 0 .1rem .2rem rgb(0 0 0 / 20%);
}

.datepicker {
    background-color: var(--texas-rose-50);
    padding: .7rem;
    color: var(--primary);
    font-weight: 100;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: .5rem;
    width: 100%;
    box-shadow: 0 .1rem .2rem rgb(0 0 0 / 20%);
}
::-webkit-calendar-picker-indicator{
    cursor: pointer;
    border-radius: .5rem;
}

.topicSearchReport, .scientificArticleReport, .nextIdcTopicReport, #formDatesIdc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.dates {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
}

.date-start, .date-end {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-lbl {
    color: var(--primary);
    font-size: 1.1rem;
    font-weight: 900;
}

.date-lbl {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 100;
}

.btn {
    background: var(--texas-rose-100);
    border: 3px solid transparent;
    color: var(--primary);
    text-align: center;
    outline: none;
    font-size: .9rem;
    font-weight: 900;
    height: 100%;
    border-radius: .5rem;
    padding: .3rem;
    cursor: pointer;
    width: 100%;
    box-shadow: 0 .1rem .2rem rgb(0 0 0 / 20%);
}

.btn:hover {
    background-color: var(--texas-rose-200);
    border: 3px solid var(--primary);
}

.btn:active {
    border: 3px solid var(--primary);
}

.notificationM {
    background: #4CAF50;
    color: var(--white);
    padding: .5rem;
    border-radius: .5rem;
    display: none;
    font-size: .9rem;
    text-align: center;
}

.notificationM.error {
    background-color: var(--primary);
}

.notificationM.show {
    display: block;
}

/* Scroll */
::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 0.3rem;
}

@media only screen and (max-width: 650px) {
	.dates {
        flex-direction: column;
    }
}