:root {
    --primary: #800000;
    --gold: #F0AD4E;
    --gold-dark: #D89008;
    --white: #FFFFFF;
    --texas-rose-50: #fef7ec;
    --texas-rose-100: #fae9cb;
    --texas-rose-200: #f6d091;
    --texas-rose-300: #f0ad4e;
    --texas-rose-400: #ed9732;
    --texas-rose-500: #e6751a;
    --texas-rose-600: #cc5513;
    --texas-rose-700: #a93914;
    --texas-rose-800: #8a2d16;
    --texas-rose-900: #712716;
    --texas-rose-950: #411107;
}
  
body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../../images/fondo.webp') no-repeat center/cover;
}

.main-container, .login-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: .5rem;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 17.5rem;
    background: var(--primary);
    color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 .2rem .4rem 0 rgb(0 0 0 / 20%);
}

.login-left h1 {
    color: var(--gold);
    font-size: 2rem;
    margin: 1rem;
}

.login-right h2 {
    color: var(--white);
    font-size: 1.1rem;
    margin: 0;
}

.login-right h3 {
    font-size: 1rem;
}

.login-left, .login-right {
    flex: 1;
}

.btn-login {
    background: var(--texas-rose-100);
    color: var(--primary);
    border: none;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 2.7rem;
    width: 13rem;
    border: 3px solid var(--primary);
}

.btn-login:hover {
    background: var(--texas-rose-200);
    cursor: pointer;
}

.btn-login:active {
    border: 3px solid var(--texas-rose-100);
}

.btn-login img {
    height: 2rem;
    width: 2rem;
}

.line {
    width: .01rem;
    background: var(--texas-rose-100);
    height: 70%;
}

.alert {
    background: var(--gold);
    color: var(--primary);
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem auto;
    max-width: 13rem;
    text-align: justify;
    font-weight: 700;
    line-height: 1.5;
}
  
@media (max-width: 575px) {
    .login-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 90%;
        width: 80%;
        padding: 0.5rem;
        gap: 0.5rem;
    }

    .line {
        width: 70%;
        height: .01rem;
    }

    .btn-login {
        margin-bottom: 1.5rem;
    }
}  