:root {
    --primary: #800000;
    --secondary: #F8F9FA;
    --gold: #F0AD4E;
    --light-gray: #CCCCCC;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --silver-pale: #F7F7F7;
    --black: #000000;
    --gray: #455a64;
    --texas-rose-100: #fae9cb;
    --texas-rose-200: #f6d091;
}

html, body, div, form, h1, h2, h3, h4, h5, input, i, button, ul, li, p, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

body {
    background: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    overflow-y: scroll;
    gap: 10px;
}

/* Contenedor Principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    min-width: auto;
    gap: 20px;
}

/* Encabezado */
.head-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    padding: 15px;
    margin-top: 90px;
    border-radius: .5rem;
}

.head-lbl {
    font-size: 1.7rem;
    color: var(--primary);
}

/* Historial de vistas */
.history {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap; 
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
}

.history-view {
    text-decoration: none;
    padding: .5rem;
    color: var(--primary);
    background: var(--texas-rose-100);
    box-sizing: border-box;
    width: auto;
    border-radius: .5rem;
}

.history-view:hover {
    text-decoration: underline;
}

.history-view:hover:nth-child(2) {
    text-decoration: none;
}

/* Información general del Usuario */
.user-info-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    padding: 15px;
    border-radius: .5rem;
    margin-bottom: 5px;
}

.user-info-content h2, h3, h4, p {
    font-size: 1rem;
    color: var(--primary);
    font-weight: 700;
}

.user-info-content h4 {
    font-size: 1.1rem;
}

.info-top {
    background-color: var(--white);
    border-radius: 5px;
    margin-bottom: 15px;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    gap: 20px;
}

.info-top a{
    color: var(--primary);
}

.info-top a:hover {
    text-decoration: underline;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    gap: 10px;
}

.perfil img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.perfil h2 {
    font-size: 1.4rem;
}

.datos-perfil {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.datos-perfil i {
    font-size: 3rem;
    color: var(--gold);
}

.badge {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-bottom {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.info-bottom a {
    color: var(--primary);
}

.info-bottom a:hover {
    text-decoration: underline;
}

/* Scroll */
::-webkit-scrollbar {
    width: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 0.3rem;
}

@media (max-width: 635px){
    .info-top {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    }
}