:root {
    --primary: #800000;
    --secondary: #F8F9FA;
    --gold: #F0AD4E;
    --light-gray: #CCCCCC;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --silver-pale: #F7F7F7;
    --black: #000000;
    --texas-rose-50: #fef7ec;
    --texas-rose-100: #fae9cb;
    --texas-rose-200: #f6d091;
    --texas-rose-300: #f0ad4e;
    --texas-rose-400: #ed9732;
    --texas-rose-500: #e6751a;
    --texas-rose-600: #cc5513;
    --texas-rose-700: #a93914;
    --texas-rose-800: #8a2d16;
    --texas-rose-900: #712716;
    --texas-rose-950: #411107;
}

html, body, div, form, h1, h2, h3, h4, input, i, button, ul, li, p, span, img {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    min-height: 100vh;
    background: var(--light);
}

h1, h2, h3 {
    font-size: 1.7rem;
    color: var(--primary);
}

h2 {
    font-size: 1rem;
}

h3 {
    font-size: 1rem;
    text-align: center;
    font-weight: 100;
}

/* Contenedor Principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    min-height: auto;
    gap: 1.7rem;
}

/* Encabezado */
.head-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    padding: 15px;
    margin-top: 6rem;
    border-radius: .5rem;
}

/* Historial de Vistas */
.history {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap; 
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
}

.history-view {
    text-decoration: none;
    padding: .5rem;
    color: var(--primary);
    background: var(--texas-rose-50);
    box-sizing: border-box;
    width: auto;
    border-radius: .5rem;
}

.history-view:hover {
    text-decoration: underline;
}

.history-view:hover:nth-child(2) {
    text-decoration: none;
}

/* Información general del tema de investigación */
.information-content {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.information {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
}

.information-paragraph {
    text-align: justify;
    color: var(--primary);
    font-weight: 100;
    line-height: 1.8;
    font-size: .9rem;
}

.information-images {
    display: flex;
    border-radius: .5rem;
    gap: 1rem;
}

.information-images-importance {
    height: 100%;
    width: 49%;
    border-radius: .5rem;
}

/* Equipos de investigación */
.students {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.student {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 2.5rem;
}

.team-content h3 {
    font-size: .9rem;
    color: var(--primary);
    text-align: center;
    font-weight: 700;
}

.top {
    background: var(--texas-rose-50);
    border-radius: 0.5rem 0.5rem 0 0;
    color: var(--primary);
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
}

.ava {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}

.low-content {
    display: flex;
    gap: 0.5rem;
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Equipos de investigación */
.teams {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
    gap: 1.5rem;
}

/* Card */
.team-content {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.2);
}

.team-content h4 {
    text-align: center;
    color: var(--primary);
    font-size: .9rem;
    font-weight: 100;
}

/* Boton para postularse */
.btn-postulate {
    text-decoration: none;
    background: var(--texas-rose-100);
    border: 3px solid transparent;
    text-align: center;
    outline: none;
    font-size: .9rem;
    font-weight: 900;
    border-radius: .5rem;
    padding: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    width: 5.5rem;
    color: var(--primary);
}

.btn-postulate:hover {
    background-color: var(--texas-rose-200);
    border: 3px solid var(--primary);
}

.btn-postulate:active {
    border: 3px solid var(--primary);
}

.state {
    padding: .5rem;
    color: var(--primary);
    background: var(--texas-rose-200);
    border-radius: .5rem;
    text-align: center;
}

.integrants {
    display: flex;
    align-items: center;
    gap: .3rem;
}

.empty {
    font-size: .9rem;
    color: var(--primary);
    margin: auto;
    font-weight: 100;
}

/* Scroll */
::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: 0.3rem;
}

@media (max-width: 880px){
    .information-content, .left-content, .information-images {
        flex-direction: column;
    }

    .information-images-importance {
        width: 100%;
    }

    .btn-postulate {
        width: 7rem;
        height: 2rem;
    }

    h3 {
        font-size: .9rem;
    }

    .teams {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        gap: 1.5rem;
    }

    .top-content {
        flex-direction: column;
    }

    .student {
        flex-direction: column;
        gap: .2rem;
    }
}

@media (max-width: 500px){
    .main-content {
        width: 90%;
    }

    .information-content {
        width: 95%;
    }
}