:root {
    --primary: #800000;
    --secondary: #F8F9FA;
    --gold: #F0AD4E;
    --light-gray: #CCCCCC;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --silver-pale: #F7F7F7;
    --black: #000000;
    --texas-rose-50: #fef7ec;
    --texas-rose-100: #fae9cb;
    --texas-rose-200: #f6d091;
    --texas-rose-400: #ed9732;
}

html, body, div, form, h1, h2, h3, h4, input, i, ul, li, span, p, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    min-height: 100vh;
    background: var(--light);
}

/* Contenedor principal */
.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    min-width: auto;
    gap: 1.7rem;
}

/* Encabezado */
.head-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    padding: 1rem;
    margin-top: 6rem;
    border-radius: .5rem;
}

.head-lbl {
    font-size: 1.7rem;
    color: var(--primary);
}

/* Historial de vistas */
.history {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap; 
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
}

.history-view {
    text-decoration: none;
    padding: .5rem;
    color: var(--primary);
    background: var(--texas-rose-50);
    box-sizing: border-box;
    width: auto;
    border-radius: .5rem;
}

.history-view:hover {
    text-decoration: underline;
}

.history-view:hover:nth-child(2) {
    text-decoration: none;
}

/* Información del Artículo Cientifíco */
h2 {
    color: var(--primary);
    font-size: 1rem;
}

.scientific-article-content {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: var(--white);
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1.5rem;
    gap: .5rem;
}

.scientific-article, .first-section, .second-section, .third-section,
.fourth-section {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.conclusion, .references, .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.textarea {
    width: 100%;
    height: 42px;
    padding: .63rem;
    border-radius: .5rem;
    outline: none;
    resize: none;
    font-size: 1rem;
    border-color: var(--gold);
    text-align: justify;
    font-weight: 100;
    color: var(--primary);
    max-height: 10rem;
}

.textarea:focus {
    padding: .53rem;
    border: 3px solid #eac875;
}

.textarea::-webkit-scrollbar{
    width: 0;
}

.textareaRE, .textareaCO, .textareaDE {
    min-height: 15rem;
}

input {
    width: 100%;
    height: 3rem;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid var(--gold);
    border-radius: .5rem;
    color: var(--primary);
    font-size: 1rem;
    padding: 0 2rem 0 0.5rem;
    font-weight: 100;
}

input::placeholder, textarea::placeholder {
    color: var(--primary);
    font-weight: 100;
}

.content-table {
    border-collapse: collapse;
    font-size: 0.9em;
    min-width: 200px;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
    color: var(--primary);
    box-shadow: 0 .1rem .2rem rgb(0 0 0 / 20%);
}

.content-table thead tr {
    background-color: var(--texas-rose-50);
    color: var(--primary);
    text-align: left;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid var(--texas-rose-200);
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table th {
	cursor: pointer;
}

table td[data-values="Conclusión"], table td[data-values="Referencia bibliográfica"] {
    text-align: justify;
}

.content-table .th-sort-asc::after {
	content: "\25b4";
}

.content-table .th-sort-desc::after {
	content: "\25be";
}

.content-table .th-sort-asc::after,
.content-table .th-sort-desc::after {
	margin-left: 5px;
}

.content-table .th-sort-asc,
.content-table .th-sort-desc {
	background: rgba(0, 0, 0, 0.3);
}

/* Estilo del modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 3px solid var(--primary);
    width: 32rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    max-height: 30rem;
    overflow-y: scroll;
}

#cerrarModalContribute, #cerrarModalConclusion, #cerrarModalReference, 
.cerrarModal {
    border: none;
    background: transparent;
}

#cerrarModalContribute i, #cerrarModalConclusion i, #cerrarModalReference i,
.cerrarModal i {
    color: var(--primary);
    font-size: 1.1rem;
    cursor: pointer;
}

#cerrarModalContribute i:hover, #cerrarModalConclusion i:hover, #cerrarModalReference i:hover,
.cerrarModal i:hover {
    color: var(--texas-rose-950);
}

.information-development, .information-conclusion, .information-reference, #formConclusionEdit, #formContentEdit,
#formReferenceEdit {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.btn {
    background: var(--texas-rose-100);
    border: 3px solid var(--white);
    color: var(--primary);
    text-align: center;
    outline: none;
    font-size: .9rem;
    font-weight: 900;
    height: 100%;
    border-radius: .5rem;
    padding: .3rem;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--texas-rose-200);
    border: 3px solid var(--primary);
}

.btn:active {
    border: 3px solid var(--texas-rose-100);
    border: 3px solid var(--primary);
}

.btn-delete {
    background: var(--primary);
    color: var(--white);
}

.btn-delete:hover {
    border: 3px solid var(--texas-rose-200);
    color: var(--texas-rose-200);
    background: var(--primary);
}

.btn-edit:hover {
    border: 3px solid var(--primary);
    color: var(--primary);
}

.btn-edit {
    background: var(--texas-rose-400);
    color: var(--white);
}

.optionDelete {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.container {
	width: 100%;
	background: var(--white);
	border-radius: .5rem;
    cursor: pointer;
}
.container h3 {
    text-align: center;
}
.img-area {
	position: relative;
	width: 100%;
	height: 17.5rem;
	background: var(--silver-pale);
	border-radius: .5rem;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.img-area i {
	font-size: 4rem;
    color: var(--texas-rose-200);
}
.img-area h4 {
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: .5rem;
    color: var(--primary);
}
.img-area p {
	color: var(--primary);
    text-align: center;
    font-size: .9rem;
}
.img-area p span {
	font-weight: 600;
}
.img-area img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	z-index: 100;
}
.img-area::before {
	content: attr(data-img);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	color: #fff;
	font-weight: 500;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
	opacity: 0;
	transition: all .3s ease;
	z-index: 200;
}
.img-area.active:hover::before {
	opacity: 1;
}
.select-image {
	display: block;
	width: 100%;
	padding: .5rem 0;
	border-radius: .5rem;
	background: var(--gold);
	color: var(--white);
	font-weight: 500;
	font-size: 1rem;
	border: none;
	cursor: pointer;
	transition: all .3s ease;
}
.select-image:hover {
	background: var(--primary);
}

.state {
    font-weight: 100;
}

/* Notification */
.notification {
    position: fixed;
    bottom: 20px;
    right: 20px; /* Ajusta la posición a la esquina inferior derecha */
    background-color: #4CAF50;
    color: white;
    padding: .5rem;
    border-radius: .5rem;
    display: none;
    z-index: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: display 0.3s ease-in-out;
    font-size: .9rem;
}

.notification.error {
    background-color: var(--primary);
}

.notification.show {
    display: block;
}

.notificationM {
    background: #4CAF50;
    color: var(--white);
    padding: .5rem;
    border-radius: .5rem;
    display: none;
    font-size: .9rem;
    text-align: center;
}

.notificationM.error {
    background-color: var(--primary);
}

.notificationM.show {
    display: block;
}

/* Scroll */
::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: .5rem;
}

@media (max-width: 1160px) {
    table thead {
        display: none;
    }

    table td[data-values] {
        display: flex;
        gap: 3rem;
    }

    table td[data-values]::before {
        content: attr(data-values);
        width: 4rem;
        font-weight: 700;
    }

    table tr {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 880px){
    .basic {
        grid-template-columns: repeat(auto-fill, minmax(18.5rem, 1fr));
    }

    .modal-content {
        width: 23rem;
    }
}

@media (max-width: 500px){
    table td[data-values] {
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 0;
    }

    table tr {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .btn {
        width: 100%;
    }

    .main-content {
        width: 90%;
    }

    .head-content, .courses-content {
        width: 95%;
    }
}