:root {
    --primary: #800000;
    --secondary: #F8F9FA;
    --gold: #F0AD4E;
    --light-gray: #CCCCCC;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --silver-pale: #F7F7F7;
    --black: #000000;
    --texas-rose-50: #fef7ec;
    --texas-rose-100: #fae9cb;
    --texas-rose-200: #f6d091;
    --texas-rose-300: #f0ad4e;
    --texas-rose-400: #ed9732;
    --texas-rose-500: #e6751a;
    --texas-rose-600: #cc5513;
    --texas-rose-700: #a93914;
    --texas-rose-800: #8a2d16;
    --texas-rose-900: #712716;
    --texas-rose-950: #411107;
}

html, body, div, form, h1, h2, h3, h4, input, i, ul, li, span {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background: var(--light);
}

::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: .5rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    gap: 1.7rem;
}

.main-content a {
    text-decoration: none;
}

.head-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: 95%;
    padding: 1rem;
    margin-top: 6rem;
    border-radius: .5rem;
}

.head-content h1 {
    margin: 0;
    font-weight: 700;
    color: var(--primary);
    font-size: 1.8rem;
}

.history {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap; 
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
}

.view {
    padding: .5rem;
    background-color: var(--texas-rose-200);
    box-sizing: border-box;
}

.view:hover {
    text-decoration: underline;
}

.view:hover:nth-child(2) {
    text-decoration: none;
}

.history a {
    text-decoration: none;
    color: var(--primary);
    width: auto;
    border-radius: .5rem;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    margin-bottom: .5rem;
}

.head i {
    color: var(--primary);
    font-size: 1.1rem;
}

.stages-content {
    margin-bottom: 1.5rem;
    width: 95%;
    background: var(--white);
    padding: 1rem;
    border-radius: .5rem;
}

h2 {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 700;
}

.stages {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    gap: 1.5rem;
}

.stage {
    background: var(--white);
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.logo-stage {
    height: 16rem;
    width: 100%;
    border-radius: .5rem .5rem 0 0;
}

.link {
    display: block;
    color: var(--primary);
    font-size: .9rem;
    padding: .5rem;
    text-align: center;
}

.link:hover {
    text-decoration: underline;
}

.footer-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-card i {
    font-size: 1rem;
    color: var(--primary);
}

@media (max-width: 880px){
    .stages {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18.5rem, 1fr));
        gap: 1.5rem;
    }
}

@media (max-width: 500px){
    .main-content {
        width: 90%;
    }

    .head-content, .stages-content {
        width: 95%;
    }
}