:root {
    --primary: #800000;
    --secondary: #F8F9FA;
    --gold: #F0AD4E;
    --light-gray: #CCCCCC;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --silver-pale: #F7F7F7;
    --black: #000000;
    --texas-rose-50: #fef7ec;
    --texas-rose-100: #fae9cb;
    --texas-rose-200: #f6d091;
    --texas-rose-300: #f0ad4e;
    --texas-rose-400: #ed9732;
    --texas-rose-500: #e6751a;
    --texas-rose-600: #cc5513;
    --texas-rose-700: #a93914;
    --texas-rose-800: #8a2d16;
    --texas-rose-900: #712716;
    --texas-rose-950: #411107;
}

html, body, div, form, h1, h2, h3, h4, input, i, ul, li, span, p, textarea, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Helvetica, sans-serif;
}

body {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: .4rem;
}

::-webkit-scrollbar-thumb {
    background: var(--gold);
    border-radius: .5rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    min-width: auto;
    gap: 1.7rem;
}

.main-content a {
    text-decoration: none;
}

.head-content {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    width: 95%;
    padding: 1rem;
    margin-top: 6rem;
    border-radius: .5rem;
}

.head-content h1 {
    margin: 0;
    color: var(--primary);
    font-size: 1.8rem;
}

.history {
    display: flex;
    gap: .5rem;
    justify-content: start;
    align-items: center;
    font-size: 0.9rem;
}

.view {
    padding: 10px;
    background-color: var(--primary);
    color: var(--white);
}

.view:hover {
    text-decoration: underline;
}

.history a {
    text-decoration: none;
    color: var(--white);
    width: auto;
    border-radius: .5rem;
}

h2 {
    color: var(--primary);
    font-size: 1rem;
}

.report-content, .criteria, .source-content, .objetive-content, 
.first-section, .second-section, .third-section, .fourth-section,
.fifth-content, .sixth-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: var(--white);
    width: 95%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.sixth-content {
    margin-bottom: 1.7rem;
}

.report-content {
    margin-bottom: 1.5rem;
}

.info-team {
    display: flex;
    flex-direction: column;
    gap: .7rem;
}

.basic {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
    gap: 1rem;
}

.informationReport, .specificObjetives {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    width: 100%;
    height: 3rem;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid var(--gold);
    border-radius: .5rem;
    color: var(--primary);
    font-size: 1rem;
    padding: 0 2rem 0 0.5rem;
    font-weight: 100;
}

input::placeholder, textarea::placeholder {
    color: var(--primary);
    font-weight: 100;
}

.content-table {
    border-collapse: collapse;
    /* margin: 25px 0; */
    font-size: 0.9em;
    min-width: 400px;
    width: 100%;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
    color: var(--primary);
}

.content-table thead tr {
    background-color: var(--primary);
    color: var(--white);
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid var(--texas-rose-200);
}

/* .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.content-table tbody tr:last-of-type {
    border: none;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.content-table th {
	cursor: pointer;
}

.content-table .th-sort-asc::after {
	content: "\25b4";
}

.content-table .th-sort-desc::after {
	content: "\25be";
}

.content-table .th-sort-asc::after,
.content-table .th-sort-desc::after {
	margin-left: 5px;
}

.content-table .th-sort-asc,
.content-table .th-sort-desc {
	background: rgba(0, 0, 0, 0.3);
}

.add-row-btn {
    padding: 10px;
    background-color: var(--primary);
    color: white;
    border: none;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.textarea {
    width: 100%;
    height: 2.95rem;
    padding: .63rem;
    border-radius: .5rem;
    outline: none;
    resize: none;
    font-size: 1rem;
    border-color: var(--gold);
    text-align: justify;
    font-weight: 100;
    color: var(--primary);
    max-height: 10rem;
}

.textarea:focus {
    padding: .53rem;
    border: 3px solid #eac875;
}

.textarea::-webkit-scrollbar{
    width: 0;
}

.basic input {
    width: 100%;
    height: 3rem;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid var(--gold);
    border-radius: .5rem;
    color: var(--primary);
    font-size: 1rem;
    padding: 0 2rem 0 0.5rem;
    font-weight: 700;
}

.basic input:focus {
    border: 3px solid #eac875; /* Color de borde más oscuro cuando el input está enfocado */
    padding: 0 2rem 0 0.4rem;
}

.btn {
    background: var(--texas-rose-100);
    border: 3px solid var(--white);
    color: var(--primary);
    width: 100%;
    text-align: center;
    outline: none;
    font-size: .9rem;
    font-weight: 900;
    height: 100%;
    border-radius: .5rem;
    padding: 0.3rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.btn:hover {
    background-color: var(--texas-rose-200);
}

.btn:active {
    border: 3px solid var(--texas-rose-100);
}

.fuentes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    color: var(--primary);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px; /* ajusta el valor según sea necesario */
    display: inline-block;
}

.link:hover {
    text-decoration: underline;
}