:root {
    --primary: #800000;
    --gold: #F0AD4E;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --texas-rose-100: #fae9cb;
}

.modalUser, .notificationUser {
    display: none;
    position: fixed;
    z-index: 1;
    top: 4.6rem;
    right: 1rem;
    width: 15rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 3px solid var(--texas-rose-50);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.notificationUser {
    right: 5rem;
    width: 20rem;
}

.modal-content-user, .notification-content-user {
    margin: auto;
    width: 100%;
    text-align: start;
    position: relative;
}

.user-options {
    display: column;
    cursor: pointer;
    padding: .2rem;
}

.enlace-div {
    text-decoration: none;
    color: var(--primary);
    font-size: 0.9rem;
    display: block;
    padding: .7rem;
}

.enlace-div:hover {
    background: var(--primary);
    color: var(--light);
    right: 1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: .5rem;
}

.icon {
    margin-right: 10px;
    margin-left: 10px;
    max-height: 50px;
}

.head-notification {
    border-bottom: 3px solid var(--texas-rose-50);
}

.notification-title {
    color: var(--primary);
    font-size: 1rem;
    font-weight: 900;
    padding: .5rem;
    text-align: center;
}

.notifications {
    display: flex;
    flex-direction: column;
}

.notification {
    padding: .3rem .5rem;
    text-align: center;
}

.notification-subtitle {
    color: var(--primary);
    font-size: .9rem;
}

.footer {
    text-align: center;
    border-top: 3px solid var(--texas-rose-50);
    padding: .5rem;
}

.notification-mark-all {
    color: var(--primary);
    font-size: .9rem;
    text-decoration: none;
    text-align: center;
    padding: .7rem;
    font-weight: 900;
}

.link {
    color: var(--primary);
    text-decoration: none;
    display: inline-block;
    font-size: .8rem;
}

.link:hover {
    text-decoration: underline;
}

.empty-notification {
    font-size: .9rem;
    color: var(--primary);
    padding: .5rem;
    font-weight: 100;
    text-align: center;
}