:root {
    --primary: #800000;
    --gold: #F0AD4E;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --texas-rose-100: #fae9cb;
}

.modalUser {
    display: none;
    position: fixed;
    z-index: 1;
    top: 4.6rem;
    right: 1rem;
    width: 15rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    border: 1px solid var(--texas-rose-100);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.modal-content-user {
    margin: auto;
    width: 100%;
    text-align: left;
    position: relative;
}

.user-options {
    display: column;
    cursor: pointer;
    padding: .2rem;
}

.enlace-div {
    text-decoration: none;
    color: var(--primary);
    font-size: 0.9rem;
    display: block;
    padding: .7rem;
}

.enlace-div:hover {
    background: var(--primary);
    color: var(--light);
    right: 1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: .5rem;
}

.icon {
    margin-right: 10px;
    margin-left: 10px;
    max-height: 50px;
}