:root {
    --primary: #800000;
    --secondary: #F8F9FA;
    --gold: #F0AD4E;
    --light-gray: #CCCCCC;
    --light: #E5EEF4;
    --white: #FFFFFF;
    --silver-pale: #F7F7F7;
    --black: #000000;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 5.3rem;
    right: 1rem;
    width: 19rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.modal-content {
    margin: auto;
    width: 100%;
    text-align: left;
    position: relative;
}

.user-options {
    display: column;
    cursor: pointer;
    padding: .5rem .5rem;
}

.option:hover a {
    background: var(--primary);
    color: var(--light);
    right: 1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: .5rem;
}

.user-info:hover a {
    background: var(--primary);
    color: var(--light);
    right: 1rem;
    cursor: pointer;
    text-decoration: none;
    border-radius: .5rem .5rem 0 0;
}

.modal-content a {
    text-decoration: none;
    color: var(--primary);
    font-size: 0.9rem;
    font-weight: 700;
}

.modal-content div i {
    margin-right: 10px;
    margin-left: 10px;
    max-height: 50px;
}

.enlace-div {
    display: block;
    padding: 10px;
    color: var(--black);
}

.perfil {
    padding: .7rem 1rem;
    margin-bottom: .5rem;
}

.line {
    background-color: var(--gold);
    width: 100%;
    height: .01rem;
}