:root {
    --primary: #800000;
    --white: #FFFFFF;
    --texas-rose-50: #fef7ec;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; 
    box-shadow: 0 .1rem .2rem rgb(0 0 0 / 20%);
}

.header {
    top: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    z-index: 100; 
}

.logo {
    display: flex;
    gap: .3rem; 
    align-items: center;
}

.logo img {
    max-height: 50px;
}

.navbar-content {
    display: flex;
    align-items: center;
    height: 70px;
    margin-right: 1rem;
}

.ico {
    color: rgb(128, 0, 0);
    font-size: 1.23rem;
}

.ic_notificaciones,
.avatar-container,
#menu-btn {
    display: flex;
    align-items: center;
    border: 3px solid var(--white);
    cursor: pointer;
    padding: 0 5px;
    height: 100%;
}

.avatar-container i {
    font-size: 0.8rem;
}

.ic_notificaciones:hover,
.avatar-container:hover,
#menu-btn:hover {
    border: 3px solid var(--primary);
    cursor: pointer;
}

.ic_notificaciones {
    position: relative;
}

.ic_notificaciones .badge {
    position: absolute; 
    top: 0;
    right: 4px;
    color: var(--primary); 
    border-radius: 50%;
    padding: .3rem;
    font-size: .8rem;
    font-weight: 900;
    pointer-events: none;
}

.ic {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.3rem;
}

.avatar {
    max-width: 30px;
    border-radius: 50%;
}

.ic_flecha {
    margin: 0 5px;
}

@media (max-width: 635px){
    #navbar {
        justify-content: space-between;
    }

    #menu-btn {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    .navbar-content {
        justify-content: center;
        width: 100%;
    }

    /* #dropdown-menu {
        display: flex;
        flex-direction: column;
    } */

    .logo{
        display: none;
    }
}